:root {
    --spaces-font-family: "KohSantepheap-Regular", Helvetica;
    --spaces-font-size: 5px;
    --spaces-font-style: normal;
    --spaces-font-weight: 400;
    --spaces-letter-spacing: 0px;
    --spaces-line-height: normal;
    --title-font-family: "KohSantepheap-Regular", Helvetica;
    --title-font-size: 60px;
    --title-font-style: normal;
    --title-font-weight: 400;
    --title-letter-spacing: 0px;
    --title-line-height: normal;
  }
  