.main-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .main-page .div {
    background-color: #ffffff;
    height: 844px;
    overflow: hidden;
    position: relative;
    width: 390px;
  }
  
  .main-page .image {
    height: 318px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 247px;
    width: 390px;
  }
  
  .main-page .west-remote {
    height: 20px;
    left: 83px;
    position: absolute;
    top: 443px;
    width: 29px;
  }
  
  .main-page .overlap-group {
    height: 28px;
    position: relative;
    width: 27px;
  }
  
  .main-page .img {
    height: 28px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 23px;
  }
  
  .main-page .text-wrapper {
    color: #000000;
    font-family: "Koh Santepheap-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 27px;
  }
  
  .main-page .east-remote {
    height: 20px;
    left: 235px;
    position: absolute;
    top: 399px;
    width: 29px;
  }
  
  .main-page .east-remote-spots {
    color: #000000;
    font-family: "Koh Santepheap-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 27px;
  }
  
  .main-page .core-west {
    height: 20px;
    left: 117px;
    position: absolute;
    top: 289px;
    width: 29px;
  }
  
  .main-page .arts-lot {
    height: 20px;
    left: 149px;
    position: absolute;
    top: 355px;
    width: 29px;
  }
  
  .main-page .text-wrapper-2 {
    color: #000000;
    font-family: "Koh Santepheap-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 87px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 565px;
    width: 217px;
  }
  
  .main-page .text-wrapper-3 {
    color: #000000;
    font-family: "Koh Santepheap-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 623px;
    width: 119px;
  }
  
  .main-page .text-wrapper-4 {
    color: #000000;
    font-family: "Koh Santepheap-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 623px;
    width: 30px;
  }
  
  .main-page .ellipse {
    border: 1px solid;
    border-color: #000000;
    border-radius: 17.5px/15.5px;
    height: 31px;
    left: 301px;
    position: absolute;
    top: 621px;
    width: 35px;
  }
  
  .main-page .ellipse-2 {
    border: 1px solid;
    border-color: #000000;
    border-radius: 17.5px/15.5px;
    height: 31px;
    left: 301px;
    position: absolute;
    top: 670px;
    width: 35px;
  }
  
  .main-page .ellipse-3 {
    border: 1px solid;
    border-color: #000000;
    border-radius: 17.5px/15.5px;
    height: 31px;
    left: 301px;
    position: absolute;
    top: 719px;
    width: 35px;
  }
  
  .main-page .text-wrapper-5 {
    color: #000000;
    font-family: "Koh Santepheap-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 672px;
    width: 30px;
  }
  
  .main-page .text-wrapper-6 {
    color: #000000;
    font-family: "Koh Santepheap-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 307px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 721px;
    width: 30px;
  }
  
  .main-page .ellipse-4 {
    border: 1px solid;
    border-color: #000000;
    border-radius: 17.5px/15.5px;
    height: 31px;
    left: 300px;
    position: absolute;
    top: 769px;
    width: 35px;
  }
  
  .main-page .text-wrapper-7 {
    color: #000000;
    font-family: "Koh Santepheap-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 311px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 770px;
    width: 30px;
  }
  
  .main-page .ellipse-5 {
    height: 40px;
    left: 1291px;
    position: absolute;
    top: 858px;
    width: 164px;
  }
  
  .main-page .text-wrapper-8 {
    color: #000000;
    font-family: "Koh Santepheap-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 672px;
    width: 130px;
  }
  
  .main-page .text-wrapper-9 {
    color: #000000;
    font-family: "Koh Santepheap-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 723px;
    width: 130px;
  }
  
  .main-page .text-wrapper-10 {
    color: #000000;
    font-family: "Koh Santepheap-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 774px;
    width: 130px;
  }
  
  .main-page .rectangle {
    background-color: #d9d9d9;
    height: 111px;
    left: 135px;
    position: absolute;
    top: 130px;
    width: 120px;
  }
  
  .main-page .rectangle-2 {
    background-color: #1154d7;
    height: 122px;
    left: 0;
    position: absolute;
    top: 0;
    width: 390px;
  }
  
  .main-page .banana-spot {
    height: 73px;
    left: 64px;
    position: absolute;
    top: 35px;
    width: 259px;
  }
  